@charset "ISO-8859-1";
html {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	background-color: #222222;
	height:100%;
	width:100%;
    min-width:800px;
	margin: 0;
	padding: 0;

}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}

h1, h2, h3, h4, h5, h6 { /*Heading font */
    font-family: 'Gill Sans', 'gill sans', 'Gill Sans MT', 'gill sans mt', verdana, sans-serif;
    text-decoration: none;
    font-weight:normal;
}

h1 {
    padding-top:30px;
    font-size:42px;
}

h2 {
    text-align:center;
}

p, li { /* Body font */
    font-family: 'Adobe Garamond Pro', adobe-garamond-pro, serif;
    text-align:justify;
    
}

iframe { 
	border: none;
	    vertical-align:text-bottom;

}

input:hover {
transform: scale(1.2,1.2);
-ms-transform: scale(1.2,1.2);
-webkit-transform: scale(1.2,1.2);
-o-transform: scale(1.2,1.2);
-moz-transform: scale(1.2,1.2);
}

a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}
    
/* Custom text styles */
    
.subtitle {
        font-family: 'Gill Sans', 'gill sans', 'Gill Sans MT', 'gill sans mt', verdana, sans-serif;
        font-size: 12px;
}

/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color:#414958;
	text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}

a:visited {
	color: #4E5869;
	text-decoration: underline;
}

a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}

/* ~~ this container surrounds all other divs giving them their percentage-based width ~~ */
.container {
	height: 100%;
	min-width: 800px;    
    margin-left:auto;
    margin-right:auto;
}


.section {
	padding: 0px 0;
	height:95%;
}

.content {
	max-width:1000px;
	}



.iconcontainer {
    display:inline;
    width: 180px;
    height:200px;
    margin:0;
    border:none;
}

.bigicon{
    width:23%;
    padding-left: 30px;
    padding-right: 30px;
    border:none;

    background-color:inherit;
    
}    

input.bigicon{
    height:180px;
    
    background-size:contain;
    background-repeat:no-repeat; 
    background-position:center bottom;
}

p.bigicon {
        text-align:center;
}

.infoicon {
    height:50px;
    width:10.5%;
 
    
    margin-left:auto;
    margin-right:auto;
    border:none;

    background-size:contain;
    background-repeat:no-repeat; 
    background-position:center bottom;
    background-color:inherit;
    
    vertical-align:text-bottom;

}

.info-text {
    width:70%;
    padding-top:40px;
    
    margin-left:auto;
    margin-right:auto;
}



.contacticon {
    width:200px;
    height:200px;

    border:none;

    background-size:contain;
    background-repeat:no-repeat; 
    background-position:center top;
    background-color:inherit;
    background-color:inherit;
}

.buttongroup{
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
    
    width:auto;
    height:50px;
}



.instagram{
    width: 22.6%;
    max-width: 250px;
 
    padding-left:1%;
    padding-right:1%;
}

.shadow{
    width:100%;
    height:20px;
    
    background-image:url('img/shadow/shadow1.png');
    background-position:top;
    background-repeat:repeat-x;
    }
    

/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul, .content ol { 
	padding: 0 15px 15px 40px; /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}




.text-align-bottom{ 
	vertical-align:text-bottom;
}


.centered {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.relative {
    position:relative;
}

.invisible {
	display:none;
}

.inline {
    display:inline;
}




/*Text color and styling for different backgrounds*/

.grey {
    color:#555555;
}

.light-grey {
    color:#E6E5E4;
}

.title {
        padding-left:0px;
    margin-bottom:10px;
    font-family: 'Gill Sans', 'gill sans', 'Gill Sans MT', 'gill sans mt', verdana, sans-serif;
    font-size: 60px;
    line-height: 100%;
    color:#E6E5E4;
}

.caption {
    display:inline;
    
    font-family: 'Gill Sans', 'gill sans', 'Gill Sans MT', 'gill sans mt', verdana, sans-serif;
    font-size:16px;
}
    
    
.text-center {
    text-align:center;
    display:block;
}

.no-padding {
    padding:0px;
}

.column {
    columns:250px 2;
    -webkit-columns:250px 2; /* Safari and Chrome */
    -moz-columns:250px 2; /* Firefox */
    
    -moz-column-gap:10px; /* Firefox */
    -webkit-column-gap:10px; /* Safari and Chrome */
    column-gap:10px;
}

.form-response {
	width:300px;
	margin-bottom:15px;
	padding-top:20px;
			font-family: 'Open Sans', sans-serif;
			color:#463d36;


}

/* The styling for a standard text field */

input.textfield	{	
	border: none /* no border */;
	border-radius: 0;
	width:240px;
	height:30px;
	background-color: #303030 /* background color of the field */;
	color: #000000 /* font color */;
	font-family: sans-serif;
	padding-left: 10px; /* creates a space between text and left border */;
}
    

#overlay {
    display:none;
    
    position:fixed;
    width:100%;
    height:100%;
    z-index:500;
    
/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0.6);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

#overlay-doc {
    height:80%;
    width:80%;
    max-width:750px;
    min-width:500px;
    
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-top:5%;
    padding-bottom:10%;
    opacity:1;
}
    
#home {
    position:static;
    background-image:url('img/bg/home.jpg');
    background-size:cover;
    background-position:bottom left;
    
    width:100%;
    max-width:1280px;
    min-width:800px;
    height:95%;
    min-height:620px;

}



        
#homelogo {
    width:400px;
    height:131px;
    padding-top:200px;
    margin-left:50%;
    margin-right:20%;
        
}

#anmal-button1 {
    width:200px;
    height:80px;
    position:relative;
    left:25%;
    top:-20px;
}

.anmal-button {
    width:100px;
    height:40px;
    
    
    background-image:url('img/icons/anmal-dig.png');
    background-size:contain;
    background-repeat:no-repeat; 
    background-position:center bottom;

}
        
#hometext1 {
    font-size:61px;
}

#hometext2 {
    font-size:42px;
}

#riksting {
    min-height:600px;
    max-height:900px;
    background-color:#E6E5E4;
    background-image:url('img/shadow/shadow1.png');
    background-position:top;
    background-repeat:repeat-x;
}
        
 #riksting-text {
    min-width:750px;
    max-width:900px;
    width:80%;
    min-height:185px;
    height:30%;
    
}
        
#riksting-icons {
    width:80%;
    min-width:600px;
    max-width:1000px;
    height: 40%;
    margin-top: 50px;
    
    
}
        
#handlingar-button {
    background-image:url("img/icons/document.png");
}

#stadgar-button {
    background-image:url("img/icons/decision.png");
}

#documents-button {
    background-image:url("img/icons/folders.png");
}

#anmal-button2{
    position:relative;
    top:-150px;
    width:28%;
    
    padding-left:3%;
    
}


#map {
	max-height: 1000px;

    display:none;
    position:relative;
    
    z-index:1;
}

#map-shadow { /*Sets relative positioning to allow z-indexing*/
    position:relative;
    z-index:50;
}

#map-container{
    height:100%;
    width:100%;
    
    position:relative;
    top:-20px;
    z-index:40;
}

#map-cover{
    height:100%;
    width:80%;
    margin-left:20%;
    position:absolute;
    top:0px;
    z-index:60;
}

#map-text {
    width:35%;
    min-width:280px;
    padding-top:30px;
    margin-right:10%;
    
    float:right;
}

#map-heading {
    margin-bottom:0px;
    padding-top:10px;
    padding-bottom:10px;
    
    background-color:black;
    color:white;
    background-opacity:0.4;
}

#map-paragraph {
    padding-top:12px;
    padding-bottom:12px;
    background-color:#EEEEEE;
    
    text-align:justify;
}

#information {
    height:250px;
    
    background-color:#E6E5E4;
    background-image:url('img/shadow/shadow1.png');
    background-position:top;
    background-repeat:repeat-x;
}

#infobuttons{
    width:85%;
    min-width:800px;
    padding-top: 10px;
    
    vertical-align:text-bottom;

}

#info-datetime{
    background-image:url("img/icons/calendar.png");
}

#info-photo{
    background-image:url("img/icons/movie.png");
}

#info-edu{
    background-image:url("img/icons/book.png");
}

#info-house{
    background-image:url("img/icons/house.png");
}

#info-house{
    background-image:url("img/icons/house.png");
}

#info-econ{
    background-image:url("img/icons/money.png");
}

#info-train{
    background-image:url("img/icons/train.png");
}

#info-air{
    background-image:url("img/icons/plane.png");
}

#info-car{
    background-image:url("img/icons/car.png");
}

#info-wifi{
    background-image:url("img/icons/wifi.png");
}

#social {
    min-height:620px;
    max-height:760px;
    position:relative;
    z-index:50;
    
    background-color:#555555;
    background-image:url('img/shadow/shadowDark.png');
    background-position:top;
    background-repeat:repeat-x;
}

#instagram-photos{
    width:80%;
    min-width:800px;
    max-width:1000px;
    height: 40%;
    padding-top: 50px;
    padding-left:0px;
    padding-right:0px;
}

#social-content{
    width:80%;
    min-width:800px;
    max-width:1000px;

    height:600px;
    
}

#social-text {
    height: 200px;
    width: 49%;
    min-width: 300px;
    max-width: 500px;
    margin:0px;
    
    display:inline-block;
    


}

#twitter {
    width:40%;
    min-width:250px;
    max-width:400px;
    padding-left:4%;
    padding-right:2%;
    
    position:relative;
    z-index:50;
}

#blog-button {
    width:220px;
    height:40px;
    
    background-image:url("img/blogbutton.png");
    background-size:contain;
    background-repeat:no-repeat; 
    background-position:center bottom;
    background-color:inherit;
    
    border: none /* no border */;
	border-radius: 0;
    
    margin-top:30px;
    
    display:block;
}
    

#blog {
    display:none;
    height:95%;
    
    position:relative;
    z-index:0;
    
    background-image:url('img/shadow/shadow1.png');
    background-position:top;
    background-repeat:repeat-x;
    
    background-color:#b5b6b6;
}

#tumblr-iframe {
    width:100%;
    height:100%;
    
    padding-top:20px;
}

#contact {
	max-height:600px;

    background-image:url("img/bg/contact.png");
    
    background-size:cover;
    background-position:bottom left;
    
}

#contact-heading{
    font-size:60px;
    text-align:right;
    color:black;
    
    display:block;
    
    padding-left:10%;
    padding-right:10%;
    padding-top:0px;
    margin-top:20px;
}

#contact-icons{
    margin-top:80px;
    
    width:65%;
    min-width:800px;
}

#twitterarrow-button{
    background-image:url("img/icons/arrow.png");
    
    float:left;
}

#team-button{
    background-image:url("img/icons/team.png");
    
    width:240px; /*Normalizing height*/
    
    display:block;
    margin-left:auto;
    margin-right:auto;
}
    
#email-contact-button{
    background-image:url("img/icons/email.png");
    
    float:right;
}


